.introduce-me {
    &.introduction {
        position: absolute; 
        top: calc(50% - 406px); 
        left: calc(50% - 250px);
        z-index: 1000;
        .introduction-container {
            width: 0px;
            height: 125px;
            display: flex;
            justify-content: flex-start;
            position: relative;
            &.editing {
                width: 716px;
            }
            .actor-container {
                display: flex;
                margin-right: 40px;
                > img {
                    border: 0;
                }
            }
            .text-container {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;
                align-items: center;
                margin-right: 64px;
            }
            & label {
                font-size: 40px;
                opacity: 0;
                width: 100%;
            }
            & label#name {
                font-weight: bold;
                font-family: 'Font Awesome 5 Free';
                height: 135px;
                text-align: center;
                > div {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            & label#citation {
                font-style: oblique;
                font-size: 23px;
                position: relative;
                bottom: 10px;
                line-height: 37.5px;
                font-family: ui-monospace;
                text-align: center;
            }
            & img#actorImage {
                width: 200px;
                opacity: 0;
                height: 200px;
                position: relative;
                left: 40px;
                align-self: center;
                &.visible {
                    opacity: 1;
                }
            }
            & img.clip {
                position: absolute;
                height: 64px;
                width: 64px;
                border: 0px;
                &.right.top {
                    right: 0;
                    top: 0;
                }
                &.right.bottom {
                    right: 0;
                    bottom: 0;
                    transform: scaleX(-1) rotate(-180deg);
                }
                &.left.top {
                    left: 0;
                    top: 0;
                    transform: scaleX(-1) rotate(0deg);
                }
                &.left.bottom {
                    left: 0;
                    bottom: 0;
                    transform: rotate(180deg);
                }
            }
            .visible {
                opacity: 1;
            }

            .close-button {
                position: absolute;
                top: -25px;
                right: calc(50% - 100px);
                width: 200px;
                height: 25px;
                background: crimson;
                border-radius: 0px;
                border: 0;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                > i {
                    margin: 0px;
                }
            }
        }
    }
}