<form>
    {{> "modules/introduce-me/templates/introduction.hbs"
        colors=this.colors
        editing=this.editing
        img=this.img
        name=this.name
        flavor=this.flavor
    }}
</form>