.introduce-me {
  .audio-settings {
    .audio-row {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      padding-bottom: 4px;
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }

      .flexrow.disabled > * {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
        &:hover {
          cursor: default;
          pointer-events: none;
        }
      }
    }
    .picker-row {
      > .flexrow {
        width: 100%;
      }
      .audio-label {
        justify-content: space-between;
        align-items: center;
      }
      .remove-audio {
        color: black;
        margin-right: 4px;
        &:hover {
          text-shadow: 0 0 5px red;
          cursor: pointer;
        }
      }

      input {
        margin-right: 4px;
        text-overflow: ellipsis;
      }
      button {
        line-height: normal;
        margin: 0;
        &.file-picker {
          min-width: 48px;
        }
      }

      .sound-time {
        align-self: center;
        white-space: nowrap;
        margin-right: 8px;
      }
    }
    .volume-row {
      input {
        flex: 3;
      }
      span {
        flex: 2;
      }
    }
    .loop-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .fadein-row {
      display: flex;
      justify-content: flex-end;
      input {
        width: 48px;
      }
    }
  }
}
