.introduce-me {
  &.color-settings {
    .flex-content {
      align-items: center;
      &:not(:last-of-type) {
        padding-bottom: 4px;
        border-bottom: 1px solid black;
      }
      margin-bottom: 4px;
      label {
        display: flex;
        justify-content: center;
      }
      .column-margin {
        margin-right: 16px;
      }
    }
    .color-label {
      width: 60px;
      min-width: 60px;
    }
    .template-select {
      width: 100px;
      height: 26px;
      margin-right: 4px;
    }
    .template-label {
      width: 100px;
      margin-right: 4px;
    }
    .action-button {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      margin: 0px 4px 0px 0px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      > i {
        margin: 0px;
      }
    }
    .audio-button.selected {
      color: var(--color-shadow-highlight);
    }
    .clip-label {
      white-space: nowrap;
      min-width: 68px;
    }
    .clip-row {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 68px;
    }
    footer {
      margin-top: 8px;
    }
  }
}
