 <form class="introduce-me flavor-dialog" autocomplete="off">
     <content>
        <label><strong>{{localize "introduceMe.flavorDialog.inputTitle"}}</strong></label>
        <input name="flavor" value="{{this.flavor}}" type="text" data-dtype="string" />
    </content>
    <footer>
        <button id="preview"><i class="fas fa-eye"></i>{{localize "introduceMe.flavorDialog.preview"}}</button>
        <button id="update"><i class="fas fa-sync"></i>{{localize "introduceMe.flavorDialog.update"}}</button>
    </footer>
</form>